<div class="container mt-5">
    <h2>Rick and Morty Characters</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Species</th>
          <th>Gender</th>
          <th>Origin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters; let i = index ; ">
          <td>{{ character.name }}</td>
          <td>{{ character.status }}</td>
          <td>{{ character.species }}</td>
          <td>{{ character.gender }}</td>
          <td>{{ character.origin.name }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary"  routerLink="/">Volver</button>
  </div>
  
